DATA PROCESSING

In [2]:
#1st question
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
from pandas import read_csv
data=read_csv("C:\Users\gouri\OneDrive\Desktop\OFFICIAL\COLLEGE\DATA SCIENCE\LAB 1\LAB 1 PRE PROCESSING\meteorite-landings")
print (data.shape)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2176408501.py, line 6)

In [ ]:
description = data.describe()
print(description)

                 id          mass          year        reclat       reclong
count  45716.000000  4.558500e+04  45428.000000  38401.000000  38401.000000
mean   26889.735104  1.327808e+04   1991.772189    -39.122580     61.074319
std    16860.683030  5.749889e+05     27.181247     46.378511     80.647298
min        1.000000  0.000000e+00    301.000000    -87.366670   -165.433330
25%    12688.750000  7.200000e+00   1987.000000    -76.714240      0.000000
50%    24261.500000  3.260000e+01   1998.000000    -71.500000     35.666670
75%    40656.750000  2.026000e+02   2003.000000      0.000000    157.166670
max    57458.000000  6.000000e+07   2501.000000     81.166670    354.473330

In [ ]:
#3rd question
description["year"]

count    45428.000000
mean      1991.772189
std         27.181247
min        301.000000
25%       1987.000000
50%       1998.000000
75%       2003.000000
max       2501.000000
Name: year, dtype: float64

In [ ]:
#4th a
data_1 = data[(data.year >= 860) & (data.year <= 2016)]
print(data_1)

             name     id nametype              recclass      mass   fall  \
0          Aachen      1    Valid                    L5      21.0   Fell
1          Aarhus      2    Valid                    H6     720.0   Fell
2            Abee      6    Valid                   EH4  107000.0   Fell
3        Acapulco     10    Valid           Acapulcoite    1914.0   Fell
4         Achiras    370    Valid                    L6     780.0   Fell
...           ...    ...      ...                   ...       ...    ...
45711  Zillah 002  31356    Valid               Eucrite     172.0  Found
45712      Zinder  30409    Valid  Pallasite, ungrouped      46.0  Found
45713        Zlin  30410    Valid                    H4       3.3  Found
45714   Zubkovsky  31357    Valid                    L6    2167.0  Found
45715  Zulu Queen  30414    Valid                  L3.7     200.0  Found

         year    reclat    reclong               GeoLocation
0      1880.0  50.77500    6.08333     (50.775000, 6.083330)
1      1951.0  56.18333   10.23333    (56.183330, 10.233330)
2      1952.0  54.21667 -113.00000  (54.216670, -113.000000)
3      1976.0  16.88333  -99.90000   (16.883330, -99.900000)
4      1902.0 -33.16667  -64.95000  (-33.166670, -64.950000)
...       ...       ...        ...                       ...
45711  1990.0  29.03700   17.01850    (29.037000, 17.018500)
45712  1999.0  13.78333    8.96667     (13.783330, 8.966670)
45713  1939.0  49.25000   17.66667    (49.250000, 17.666670)
45714  2003.0  49.78917   41.50460    (49.789170, 41.504600)
45715  1976.0  33.98333 -115.68333  (33.983330, -115.683330)

[45424 rows x 10 columns]

In [ ]:
#4th b
data_2 = data[((data.reclong <= 180) & (data.reclong >= -180)) & ((data.reclat != 0) & (data.reclong != 0))]
print(data_2)

             name     id nametype              recclass      mass   fall  \
0          Aachen      1    Valid                    L5      21.0   Fell
1          Aarhus      2    Valid                    H6     720.0   Fell
2            Abee      6    Valid                   EH4  107000.0   Fell
3        Acapulco     10    Valid           Acapulcoite    1914.0   Fell
4         Achiras    370    Valid                    L6     780.0   Fell
...           ...    ...      ...                   ...       ...    ...
45711  Zillah 002  31356    Valid               Eucrite     172.0  Found
45712      Zinder  30409    Valid  Pallasite, ungrouped      46.0  Found
45713        Zlin  30410    Valid                    H4       3.3  Found
45714   Zubkovsky  31357    Valid                    L6    2167.0  Found
45715  Zulu Queen  30414    Valid                  L3.7     200.0  Found

         year    reclat    reclong               GeoLocation
0      1880.0  50.77500    6.08333     (50.775000, 6.083330)
1      1951.0  56.18333   10.23333    (56.183330, 10.233330)
2      1952.0  54.21667 -113.00000  (54.216670, -113.000000)
3      1976.0  16.88333  -99.90000   (16.883330, -99.900000)
4      1902.0 -33.16667  -64.95000  (-33.166670, -64.950000)
...       ...       ...        ...                       ...
45711  1990.0  29.03700   17.01850    (29.037000, 17.018500)
45712  1999.0  13.78333    8.96667     (13.783330, 8.966670)
45713  1939.0  49.25000   17.66667    (49.250000, 17.666670)
45714  2003.0  49.78917   41.50460    (49.789170, 41.504600)
45715  1976.0  33.98333 -115.68333  (33.983330, -115.683330)

[31962 rows x 10 columns]

In [ ]:
#5th question
data_2.isnull().sum()

name             0
id               0
nametype         0
recclass         0
mass           118
fall             0
year           147
reclat           0
reclong          0
GeoLocation      0
dtype: int64

In [ ]:
#6th 
df=pd.isnull(data_2["mass"])
data_2[df]

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769.0,50.66667,2.33333,"(50.666670, 2.333330)"
38,Angers,2301,Valid,L6,NaN,Fell,1822.0,47.46667,-0.55000,"(47.466670, -0.550000)"
76,Barcelona (stone),4944,Valid,OC,NaN,Fell,1704.0,41.36667,2.16667,"(41.366670, 2.166670)"
93,Belville,5009,Valid,OC,NaN,Fell,1937.0,-32.33333,-64.86667,"(-32.333330, -64.866670)"
172,Castel Berardenga,5292,Valid,Stone-uncl,NaN,Fell,1791.0,43.35000,11.50000,"(43.350000, 11.500000)"
...,...,...,...,...,...,...,...,...,...,...
36812,San Luis,23129,Valid,H,NaN,Found,1964.0,-33.33333,-66.38333,"(-33.333330, -66.383330)"
38188,Ur,24125,Valid,Iron,NaN,Found,2501.0,30.90000,46.01667,"(30.900000, 46.016670)"
38278,Weiyuan,24233,Valid,Mesosiderite,NaN,Found,1978.0,35.26667,104.31667,"(35.266670, 104.316670)"
41460,Yamato 792768,28117,Valid,CM2,NaN,Found,1979.0,-71.50000,35.66667,"(-71.500000, 35.666670)"
45698,Zapata County,30393,Valid,Iron,NaN,Found,1930.0,27.00000,-99.00000,"(27.000000, -99.000000)"

In [ ]:
#7th question
data_2['mass'].describe()

count    3.184400e+04
mean     1.864890e+04
std      6.877762e+05
min      0.000000e+00
25%      6.600000e+00
50%      3.040000e+01
75%      2.061600e+02
max      6.000000e+07
Name: mass, dtype: float64

In [ ]:
#8th question
import numpy as np
lst = list(np.where(np.isnan(data_2['mass'])))
lst

[array([   12,    37,    75,    92,   170,   202,   259,   305,   309,
          317,   321,   343,   389,   556,   572,   636,   656,   670,
          683,   698,   718,   736,   740,   762,   774,   780,   854,
          942,  1002,  1027,  1038,  1063,  3415,  5007,  5085,  5143,
         5362,  5397,  5510,  5541,  5542,  6684,  6715,  8172,  8218,
        11527, 11530, 11585, 14575, 14580, 14581, 14596, 14990, 15000,
        15001, 15036, 15179, 15904, 15964, 15986, 16014, 16084, 16318,
        20004, 20129, 20413, 20414, 20415, 20416, 20417, 20418, 20419,
        20420, 20421, 20422, 20423, 20424, 20425, 20426, 20427, 20428,
        20429, 20430, 20431, 20432, 20433, 20434, 20435, 20436, 20437,
        20438, 20439, 20440, 20441, 20442, 20443, 20444, 20445, 20446,
        20447, 20448, 20449, 20450, 20451, 20452, 20453, 20454, 20455,
        20456, 20457, 20458, 20459, 20497, 25553, 26820, 26908, 29862,
        31944], dtype=int64)]

In [ ]:
#9th question
data_3=data_2[pd.isnull(data_2['mass'])]
data_3['mass']

12      NaN
38      NaN
76      NaN
93      NaN
172     NaN
         ..
36812   NaN
38188   NaN
38278   NaN
41460   NaN
45698   NaN
Name: mass, Length: 118, dtype: float64

In [ ]:
#10th question
data_2['mass']=data_2['mass'].fillna(df['mass'].median())
print(data_2)

In [ ]:

print(data_2['mass'].isnull().sum())

118

In [ ]:
#13th question
data_3['mass'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: mass, dtype: float64